

body {
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif; 
    background-color: rgb(0, 0, 0);  
    cursor: not-allowed;      
}

/* header y barra de navegacion*/

header nav {
    display: flex;
    justify-content: flex-end;
    height: 40px;         
}

header nav a {
    text-decoration: none;
    font-family: 'Arya', sans-serif;
    color: rgb(155, 155, 155);
    justify-content: center;
}

header nav img {
    border-radius: 20px;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a, img {
    padding: 5px;
}

/* desplegable de los 9 puntos */

.desplegable {
    display: flex;  
    position: relative;
}

.imgdesplegable {
    object-fit: cover;
}

.contenidodesplegable {
    display: none;
    position: absolute; 
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    z-index: 10; 
    right: 0; 
}

.contenidodesplegable div a img {
    width: 50px;
    height: 40px;
}

.desplegable:hover .contenidodesplegable {
    display: flex;  
    background-color: rgb(0, 0, 0);   
}

.contenidodesplegable div a img:hover {
    background-color: rgb(69, 184, 34);
}

/* estilo main, logo y buscadores */

main {    
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}

.section1 {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 50%;
}

.section2 {
    border-style: solid;
    border-color: rgb(92, 92, 92);
    border-width: 1px;
    width: 50%;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;    
}

/* agregar las imagenes en la barra de busqueda*/ 

.section2 img {
    width: 7%;
    border-radius: 20px;
}

#input-search {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    border-style: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.section3 {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


#search {
    width: 12%;
    margin: 5px 10px;
    height: 40px;
    background-color: rgb(148, 29, 108);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#lucky {
    width: 12%;
    margin: 5px 10px;
    height: 40px;
    background-color: rgb(69, 184, 34);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#search:hover {
    background-color: rgb(182, 184, 34);
    box-shadow: 5px 5px rgb(255, 0, 0);
}

#lucky:hover {
    background-color: rgb(182, 184, 34);
    box-shadow: 5px 5px rgb(255, 0, 0);
}

main p {
    font-size: 15px;
    color: rgb(155, 155, 155);
    font-family: 'Arya', sans-serif; 
    font-weight: lighter;   
}

/* diseño footer */

footer {
    width: 100%;
    margin-top: 89px;
    background-color: rgb(20, 20, 20);
    font-family: 'Arya', sans-serif;
    color: rgb(155, 155, 155); 
    display: flex; 
    flex-direction: column;       
}

footer section {
    width: 100%;
}

footer section h2{
    padding-left: 15px;
    font-weight: lighter;
}

.footer-link {
    width: 100%;
    border-style: solid none none none;
    border-color: rgb(155, 155, 155);
    border-width: 1px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.footer-link div {
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

.footer-link div a {  
    padding: 0 20px;
    display: flex;
    text-decoration: none;
    color: rgb(155, 155, 155);
}

/* agregar las lineas al pasar el cursor por los links */

.footer-link a:hover {
    text-decoration-line: underline;
}
